 <!-- end: Page title -->
 <section style="background:none;">
    <div class="container" style="background:white; padding-top: 10px; border-radius: 15px; box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;">
        <div class="heading-text heading-section text-center">
            <br><h2>Attention Valued Partners!<br>
                Our New Site is Under Construction!
                </h2>
        </div>
        <div class="row">
            <div class="col-lg-12" style="text-align: center;">
                
                    <p style="color:black; font-size: 16px;">We're excited to announce that our team is currently developing a brand-new website to enrich your online experience.<br>
                        We apologize for any inconvenience caused during this construction phase and appreciate your patience.</p>
                    <p style="color:black; font-size: 16px;">Our team is working diligently behind the scenes to create a modern and user-friendly website<br>
                        that will showcase the brands we proudly represent.<br> We are committed to providing you with an exceptional online experience.</p>
                    <p style="color:black; font-size: 16px;">In the meantime, if you have any questions or need assistance,<br>
                        our dedicated customer support team is still available to help you.</p>
                    <p style="color:black; font-size: 16px;">For assistance, you can reach us via phone at (604) 438-4025 or toll free at (866) 438-4025.<br> 
                        You can also email us at info@stellarinc.ca.<br>
                        We will be more than happy to assist you.
                        </strong>
               
            </div>
        </div>
        <div class="p-progress-bar-container title-up small">
            <div class="p-progress-bar" data-percent="85" data-delay="100" data-type="%" style="background-color:#ffc474">
                <div class="progress-title">DEVELOPMENT PROGRESS</div>
            </div>
        </div>
    </div>
</section>