<!-- Footer -->
<footer id="footer" >
    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-center" style="text-align: center;">
                    <!-- Footer widget area 1 -->
                    <div class="widget  widget-contact-us">
                       <!-- <img src="../images/LanesafeLogo.png" class="footer-logo" /> -->
                        <ul class="list-icon">
                            <li><i class="fa fa-map-marker-alt list-icon-footer"></i> #602 19055 Airport Way<br>    
                                   Pitt Meadows, V3Y OG4.</li>
                            <li><i class="fa fa-phone list-icon-footer"></i> (604) 438-4025 </li>
                            <li class="linkfooter"><i class="far fa-envelope list-icon-footer"></i> <a href="mailto:info@stellarinc.ca"  target="_blank">info@stellarinc.ca</a> </li>
                        </ul>
                    </div>
                    <!-- end: Footer widget area 1 -->
                </div>

                <div class="col-lg-6 col-center" style="text-align: center;">
                    <!-- Footer widget area 3 -->
                    <div class="widget  widget-contact-us" >
                        <!-- <img src="../images/LanesafeLogo.png" class="footer-logo" /> -->
                         <ul class="list-icon">
                             <li>
                                 <i class="far fa-clock list-icon-footer"></i><strong>Warehouse:</strong><br> Monday - Friday: <strong> 7:30 am - 3:30 pm</strong> <br>
                                 <strong>Office:</strong><br> Monday - Friday: <strong> 8:30 am - 4:30 pm</strong> </li>
                         </ul>
                     </div>
                     <!-- end: Footer widget area 3 -->
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-content" style="background:#1c4669; color:white;">
        <div class="container ">
            <div class="copyright-text text-center">&copy; 2023 STELLAR WHOLESALE INC. All Rights Reserved.</div>
        </div>
    </div>
</footer>
<!-- end: Footer -->
