<!-- Header -->
<header id="header" data-fullwidth="true" class="header-alternative">
    <div class="header-inner" style="background:#ffc474;">
        <div class="container">
            <!--Logo-->
            <div id="logo">
                <a href="">
                    <img src="images/stellarLogo.png" class="logo-default">
                    <img src="images/stellarLogo.png" class="logo-dark">
                </a>
            </div>
            <!--End: Logo-->
            <!--Navigation Resposnive Trigger-->
            <div id="mainMenu-trigger">
                <a class="lines-button x"><span class="lines"></span></a>
            </div>
            <!--end: Navigation Resposnive Trigger-->
            <!--Navigation-->
            <div id="mainMenu" class="menu-center menu-lowercase">
                <div class="container">
                    <nav>
                        <ul>
                            <li class="link"><a href=""><i class="fa fa-phone list-icon-footer"></i> (604) 438-4025</a></li>
                            <li class="link"> <a href="mailto:info@stellarinc.ca"><i class="far fa-envelope list-icon-footer"></i>info@stellarinc.ca</a> </li>
                            <li class="link"><a href="https://form.stellarinc.ca/account-opening/"  target="_blank"><i class="far fa-user list-icon-footer"></i>Become a Client</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--end: Navigation-->
        </div>
    </div>
</header>
<!-- end: Header -->