<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />       
	<meta name="description" content="Stellar Wholesale Inc proudly distributes some of the best brands in the hydroponic, greenhouse and garden industry to retailers and commercial growers across Canada. Over the years, Stellar has evolved to be one of the industry’s preferred supplier.">
    <meta name="keywords" content="wholesale, stellar, stellar inc, growers, plants, canada, bc, british columbia, vancouver">
    <meta name="author" content="Alfredo Morales">
    <link rel="icon" type="image/png" href="images/favicon/favicon-32x32.png">   
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Document title -->
    <title>LANESAFE GROUP</title>
    <!-- Stylesheets & Fonts -->
    <link href="css/plugins.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
</head>
